.test {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 8px;
}

.showModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.hiddenModal {
    display: none;
}

.section01 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 96px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 32px;
}

.figureMovie {
    text-align: center;
    width: 20%;
    background-color: #fff;
    border-bottom: none;
    margin-bottom: 5%;
}

.movieImgRelease {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    border: 2px solid #91a2b0;
    aspect-ratio: 2/3;
}

.movieImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.releaseDate {
    color: #293845;
    position: absolute;
    font-weight: 500;
    bottom: 5px;
    font-size: 0.8rem;
}

.movieInfo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 3px solid #c3cfd9;
    border-bottom: none;
    border-top: none;
    color: #293845;
}

.titleMovie {
    font-weight: 600;
    font-size: clamp(8px, 1.5vw, 32px);
    padding: 0 4px 0 4px;
}

.movieRate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.movieAvg,
.movieVote {
    font-size: clamp(6px, 1.6vw, 20px);
}

.moviePrice {
    font-size: clamp(6px, 1.4vw, 32px);
}

.heart-fill {
    color: #4b5c6b;
}

.heart-fill:hover {
    color: #fff;
    cursor: pointer;
}

@media (max-width: 620px) {

    .heart-fill {
        margin-left: 80%;
    }

    .section01 {
        top: 16px;
    }

    .movies {
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        height: 100%;
        gap: unset;
    }

    .figureMovie {
        width: 250px;
        height: 450px;
        margin-top: 84px;
    }
}