.navHeader {
    width: 100%;
    height: 70px;
    padding: 16px;
    background-color: #8dd7cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.logo {
    font-weight: 800;
    color: #fff;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inputSearch {
    align-items: center;
    background-color: #fff;
    padding: 12px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #91a2b0;
    border-radius: 5px;
    cursor: pointer;
}

.inputWidth {
    border: none;
    width: 100%;
    font-size: 1.2rem;
    box-shadow: 0 0 0 0;
    outline: 0;

}

.searchButton {
    background: none;
    border: unset;
    cursor: pointer;
}


.headerIcons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.qntItem {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background-color: #fbe192;
    text-align: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-cart-fill,
.bi-heart-fill {
    color: #fff;
    cursor: pointer;
}

.carMenu {
    width: 32px;
    height: 32px;
}

.hiddeBuyMenu {
    display: none;
    overflow: hidden;
}

.hiddeFavorites {
    display: none;
}

.showBuyMenu {
    width: 25vw;
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 99;
    background-color: #fff;
    border: 2px solid #91a2b0;
}

.showFavorites {
    width: 25vw;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 99;
    background-color: #fff;
    border: 2px solid #91a2b0;
}

.carInfo {
    width: 100%;
    height: 77vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: auto;
}

.firstCarCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.myCart {
    font-size: clamp(12px, 1.5vw, 32px);
    font-weight: 300;
}

.empty {
    font-size: clamp(12px, 1.4vw, 24px);
    cursor: pointer;
    color: #6558f5;
    border-bottom: 2px solid #c7c3fb;
}

.cartProducts {
    width: 100%;
    min-height: 100%;
}

.cartItem {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.imgCart {
    height: 64px;
    object-fit: cover;
}

.titleP {
    font-size: clamp(12px, 1.5vw, 24px)
}

.itemQnt {
    font-size: clamp(12px, 1.5vw, 24px)
}

.itemValue {
    font-size: clamp(12px, 1.5vw, 24px)
}

.bi-cart-fill-fav {
    color: #1aae9f;
    cursor: pointer;
}

.bi-trash3-fill {
    cursor: pointer;
    color: #4b5c6b;
}


.finish {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalSum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.totalP {
    font-size: clamp(16px, 1.6vw, 20px);
}

.totalSumItem {
    font-size: 1.2rem;
    font-weight: 600;
}

.formButton {
    width: 93%;
    padding: 12px;
    border: none;
    background-color: #6462fc;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
}

@media (min-width: 621px) and (max-width: 916px) {
    .showBuyMenu {
        width: 35vw;
    }

    .showFavorites {
        width: 35vw;
    }
}

@media (max-width: 620px) {
    input {
        width: 20%;
    }

    .showFavorites {
        width: 40vw;
    }

    .showBuyMenu {
        width: 40vw;
    }

    .cartItem {
        gap: unset;
        padding: 8px;
    }


    .cartItem p {
        font-size: 0.6rem;
        padding: 4px;
        font-weight: 700;
    }

    .searchForm {
        padding: 8px;
    }

    .inputSearch {
        width: 100%;
        height: 48px;
    }

    .headerIcons {
        gap: 8px;
    }

    .carInfo {
        height: 78vh;
    }

    .firstCarCont {
        gap: 48px;
        padding: 8px;
    }

    .firstCarCont h2 {
        font-size: 1rem;
    }
}