.navHeader {
    width: 100%;
    height: 70px;
    padding: 16px;
    background-color: #8dd7cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.navHeader>a {
    font-weight: 800;
    color: #fff;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inputSearch {
    align-items: center;
    background-color: #fff;
    padding: 12px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #91a2b0;
    border-radius: 5px;
    cursor: pointer;
}

.inputSearch>input {
    border: none;
    width: 100%;
}

.searchButton {
    background: none;
    border: unset;
    cursor: pointer;
}

input {
    font-size: 1.2rem;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.bi-cart-fill,
.bi-heart-fill {
    color: #fff;
    cursor: pointer;
}

.bi-cart-fill-fav {
    color: #1aae9f;
    cursor: pointer;
}

.carMenu {
    width: 32px;
    height: 32px;
}

.qntItem {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background-color: #fbe192;
    text-align: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showBuyMenu {
    width: 25vw;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 99;
    background-color: #fff;

}

.hiddeBuyMenu {
    display: none;
    overflow: hidden;
}

.carInfo {
    width: 100%;
    height: 90vh;
    background-color: #fff;
    border: 2px solid #91a2b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: auto;
}

.firstCarCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

h2 {
    font-weight: 300;
}

.cartProducts {
    width: 100%;
    min-height: 100%;
}

.firstCarCont>p {
    font-size: 16px;
    cursor: pointer;
    color: #6558f5;
    border-bottom: 2px solid #c7c3fb;
}

.toForm {
    display: block;
    top: 0;
}

.cartItem {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

span {
    width: unset;
}

.imgCart {
    height: 64px;
    object-fit: cover;
}

.finish {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalSum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.totalP {
    font-size: 20px;
}

.totalSumItem {
    font-size: 1.2rem;
    font-weight: 600;
}

.formButton {
    width: 93%;
    padding: 12px;
    border: none;
    background-color: #6462fc;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
}

.showFavorites {
    width: 25vw;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 99;
    background-color: #fff;
}

.bi-trash3-fill {
    cursor: pointer;
    color: #4b5c6b;
}


.hiddeFavorites {
    display: none;
}


.titleP {
    width: 65px;
}

@media (max-width: 620px) {
    input {
        width: 20%;
    }

    .showFavorites {
        width: 60vw;
    }

    .showBuyMenu {
        width: 60vw;
    }

    .cartItem {
        gap: unset;
        padding: unset;
    }
}